
/*中部区域*/
.center{
	width:100%;
	position: relative;
}
/*菜单*/
.center .menu{
	width:190px;
	height:470px;
	position: absolute;
	top:0;
	left:32px;
	z-index: 4;
}
.menu .menu_top{
	width:190px;
	height:33px;
	background: #626262;
	font-size: 16px;
	color: #fff;
	padding-top: 12px;
}
.menu_top img{
	margin-left:45px;
	vertical-align: middle;
}
.menu .menu_list{
	width:142px;
	height:437px;
	padding-left:34px;
	padding-right:14px; 
	background: #fff;
}
.menu_list .list{
	padding-top: 10px;
	padding-bottom: 10px;
	overflow:hidden;
	border-bottom:1px solid #f3f3f3;
}
.menu_list .list:last-child{
	border:0;
}
.list h3{
	font-size: 18px;
	color: #000;
}
.list a{
	font-size: 12px;
	color:#8c8c8c;
}
.listBox_left{
	width:60px;
	float: left;
}
.listBox_right{
	padding-left:6px;
	float: right;
	width:75px;
	border-left:1px solid #f3f3f3;
}
/*菜单栏详情*/
.menu .list_details{
	width:700px;
	height:400px;
	background: #fff;
	position:absolute;
	top:45px;
	left:190px;
	display: none;
	border:1px solid #b9b9b9;
}
/*导航栏*/
.center .nav{
	width:943px;
	height:45px;
	padding-left:320px;
}
.nav a{
	font-size:12px;
	line-height:45px;
	color:#727272;
	margin-left:33px;
}
/*轮播图*/
.center #roll{
	width:1220px;
	height:426px;
}
/*优惠劵*/
.center .voucher{
	width:1233px;
	height:170px;
	padding-top:70px;
	padding-left:30px;
}
.voucher img{
	float: left;
}
/*梦芭莎优选*/
.center .you{
	width:1233px;
	overflow:hidden;
	padding-left:30px;
}
.you img{
	/*float: left;*/
}
.you .listImg{
	width:290px;
	height:530px;
	text-align: center;
	margin-right:14px;
	float:left;
	background: #fff;
}
.listImg p{
	font-size: 12px;
	color: #97989a;
	margin-top:24px;
}
.listImg h4{
	font-size: 14px;
	color:#222222;
	margin-top:12px;
}
.listImg span{
	display: block;
	font-size: 14px;
	color:#e60065;
	margin-top:10px;
}
.listImg a{
	display: inline-block;
	width:130px;
	height:40px;
	border-radius: 20px;
	border:1px solid #e8e8e8;
	font-size: 14px;
	color: #575757;
	line-height: 40px;
	margin-top:20px;
}
/*梦芭莎品牌荟*/
.brand{
	width:1263px;
	padding-top: 30px;
	overflow:hidden;
}
#brandImg{
	width:1220px;
}
.brand_lists{
	padding-left: 30px;
}
.brand_list{
	float: left;
}
.brand_list img{
	width:560px;
	height:325px;
}
.brand .brand_list{
	width:560px;
	height:420px;
	margin-right:14px;
}
.br_listLeft{
	float: left;
	padding:20px 0px 35px 15px;
}
.br_listLeft p{
	font-size:14px;
	color: #000;
}
.br_listLeft span{
	font-size:14px;
	color: #e80161;
}
.br_listRight{
	float: right;
	padding-top: 20px;
	padding-right: 25px;
}
.br_listRight a{
	display: inline-block;
	width:130px;
	height:40px; 
	color:#818181;
	border:1px solid #e8e8e8;
	border-radius: 20px;
	text-align: center;
	line-height: 40px;
}
/*专栏分类*/
.column{
	padding-top:110px;
	padding-left:30px;
	overflow:hidden;
}
.col_list{
	padding-left: 240px;
	height:45px;
}
.col_list div{
	width:149px;
	height:35px;
	background: #fff;
	font-size:16px; 
	color:#000;
	line-height:35px;
	position:relative;
	text-align: center;
	border:1px solid #cdcdcd;
	margin-right:45px;
	float:left;
}
.col_list div .span_tra{
	width:0px;
	height:0px;
	border:6px solid transparent;
	border-top-color:#000;
	position: absolute;
	top:35px;
	left:70px;
	display: none;
}
.details{
	margin-top: 32px;
}
.del_title{
	height:45px;
	padding-left:;
}
.del_title h4{
	font-size:24px;
	color:#000;
	font-weight: 100;
}
.del_title span{
	font-size:12px;
	color:#c2c2c2;
}
.colImg_right{
	float: right;
	width:820px;
}
.colImg_right img{
	float: left;
	margin:1px;
	margin-top:0px;
}
/*更多活动推荐*/
.moreaActive{
	height:516px;
	background:#f7f7f7;
	overflow:hidden;
	padding:62px 0 62px 33px;
}
.moreaActive .lineMiddle{
	width:816px;
	height: 1px;
	background: #c6c6c6;
	margin: 0 auto;
	position: relative;
	margin-bottom: 48px;
}
.lineMiddle .midTxt{
	position: absolute;
	top:-12px;
	left:300px;
	width:210px;
	height:30px;
	font-size:28px;
	color:#000; 
	line-height:28px;
	background: #f7f7f7;
	text-align: center;
}
.moreaActive .more_list{
	width:384px;
	height:214px;
	background: #fff;
	margin-left:20px;
	margin-bottom: 20px;
	float: left;
	border:1px solid #e3e1e2;
}
.more_list img{
	width:384px;
	height:182px;
}
.more_list p{
	font-size:;
	color:;
	line-height: 30px;
	margin-left:15px;
}

