*{
	margin: 0;
	padding:0;
}
a{
	text-decoration: none;
}
/*顶部区域*/
.top{
	height:135px;
}
/*个人中心*/
.top .top_person{
	height: 26px;
	padding-left: 260px;
	padding-right: 33px;
	position: relative;
	border-bottom: 1px solid #f4f4f4;
}
.top .top_person a{
	font-size: 12px;
	color: #747474;
	line-height: 26px;
}
.top .top_person img{
	vertical-align: middle;
}
.top_person .person_left{
	float: left;
}
.top_person .person_right{
	float: right;
}
.person_right .line{
	margin: 0 5px;
}
.top_person .Slogo{
	position: absolute;
	top:0;
	left:55px;
}

/*购物流程*/
.top .flow{
	height: 105px;
	padding-left: 610px;
	padding-top: 30px;
}
.flow .flow_list{
	height: 24px;
	width:618px;
	border:1px solid #e50065;
}
.flow_list .step{
	width:200px;
	height:24px;
	float: left;
	font-size: 12px;
	color: #8e8e8e;
	line-height: 24px;
	text-align: center;
}
.flow_list .step:first-child{
	background: #e40064;
	color: #fff;
}
.flow_list .step img{
	vertical-align: middle;
	margin-left:70px;
}
/*中部区域*/
.center .cen_top{
	width:1200px;
	margin-left: 30px;
	border:1px solid #ebebeb;
}
.cen_top .cen_tit{
	height: 36px;
	width:1200px;
	background: #ebebeb;
}
.cen_tit span{
	font-size: 14px;
	color: #414141;
	line-height: 36px;
	float: left;
}
.cen_tit span input{
	vertical-align: middle;
	margin-right: 15px;
}
.cen_tit .all{
	margin-left: 90px;
}
.cen_tit .goods{
	margin-left: 230px;
}
.cen_tit .price{
	margin-left: 270px;
}
.cen_tit .sum{
	margin-left: 90px;
}
.cen_tit .amount{
	margin-left: 100px;
}
.cen_tit .handle{
	margin-left: 100px;
}
.cen_top .cen_lis{
	width:1120px;
	margin-left: 40px;
}
.cen_lis p{
	width:1070px;
	height:30px;
	font-size: 12px;
	color:#333333;
	line-height:30px;
	background: #f5f5f5;
	padding-left:50px;
}
/*所选商品*/
.cen_lis .lis_good{
	height:66px;
	width:1120px;
	position: relative;
	border-bottom: 1px solid #ebebeb; 
}
.lis_good .good_left{
	width:80px;
	height: 66px;
	float: left;
	padding-left: 50px;
	/*background: red;*/
}
.good_left input{
	float: left;
	margin-top: 26px;
	border:1px solid #8e8f8f;
	margin-right: 20px;
}
.lis_good .good_center{
	width:470px;
	height: 56px;
	float: left;
	padding-top: 10px;
	padding-left: 18px;
	/*background: pink;*/
}
.good_center span:first-child{
	display: inline-block;
	width:490px;
	font-size: 12px;
	color: #5b5b5b;
}
.good_center span{
	color: #9d9d9d;
	font-size: 12px;
}
.lis_good .good_right{
	width:480px;
	height: 66px;
	float: left;
	padding-left: 10px;
	/*background: green;*/
}
.lis_good .good_right span{
	display: inline-block;
	float: left;
}
.good_right .cost{
	font-size:10px; 
	color:#000;
	margin-top:25px;
	margin-right: 60px;
}	

.good_right .jiajian{
	width:70px;
	height:26px;
	border:1px solid #f5f5f5;
	text-align: center;
	margin-top: 20px;
	margin-right: 75px;
}
.jiajian .jian{
	width:18px;
	height: 24px;
	border-right:1px solid #f5f5f5;
	float: left; 
}
.jiajian .sums{
	width:30px;
	height: 24px;
	border-right:1px solid #f5f5f5; 
	float: left;
}
.jiajian .jia{
	width:18px;
	height: 24px;
	float: left;
}
.good_right .cost_he{
	font-size: 10px;
	color: #d90077;
	margin-top:25px;
	margin-right: 100px;
}
.good_right .change{
	width:50px;
	height:40px;
	font-size: 12px;
	line-height: 20px;
	margin-top: 15px; 
}
.change .bian{
	width:50px;
	height: 20px;
	color: #000;
	cursor: pointer;
}
.change .del{
	width:50px;
	height: 20px;
	color: #a6a6a6;
	cursor: pointer;
	cursor: pointer;
}

/*结算商品*/
.cen_top .accounts{
	width:1085px;
	height:170px;
	border:1px solid #ebebeb;	
	padding-left: 77px;
	padding-right: 38px;

}
.accounts .acc_code{
	width:240px;
	height:140px;
	float: left;
	margin-top: 15px;
}
.acc_code .code_right{
	width:80px;
	height:98px;
	float: right;
	padding-top: 42px;
}
.code_right .sao{
	font-size:24px; 
	color:#000;
}
.code_right .save{
	font-size:10px; 
	color:#8f8f8f;
}
.accounts .acc_yuan{
	width:330px;
	height:170px;
	/*background: red;*/
	float: right;
}
.acc_yuan .tongji{
	font-size:12px; 
	color:#555555;
	/*margin-left: 60px;*/
	margin-top: 65px;
	width:330px;
	/*background: red;*/
	text-align: center;
}
.acc_yuan .yuan_sum{
	font-size:12px; 
	color:#de2186;
	margin-right: 6px;
}
.acc_yuan .yuan_zhe{
	font-size:12px; 
	color:#555555;
	font-weight: 600;
	margin-right: 10px;
}
.acc_yuan .yuan_end{
	font-size:14px; 
	color:#de2186;
}
.acc_yuan .btn{
	width:226px;
	height:48px;
	border:0;
	font-size:20px; 
	line-height:48px;
	background: #eb0067;
	color: #fff;
	margin-left:100px; 
	margin-top: 25px;
}
/*促销活动*/
.cen_top .sales{
	height:155px;
	width:1200px;
	border:1px solid #ebebeb;
}
.sales h4{
	font-size: 24px;
	color: #555555;
	font-weight: 100;
	text-align: center;
	margin-top: 30px;
} 
.sales .zeng{
	width:360px;
	height:50px;
	margin-left:166px;
	margin-top:26px;  
}
.zeng .zeng_left{
	float: left;
	width:55px;
	height: 50px;
}
.zeng_left img{
	float: left;
}
.zeng .zeng_right{
	float: right;
	font-size:14px; 
	width:280px;
	height: 50px;
}
.zeng_right p{
	color:#4d4d4d;
}
.zeng_rigth span{
	color:#9d9d9d;
}
/*热销商品*/
.center .cen_hot{
	width:1200px;
	margin-left: 30px;
	margin-top: 80px;
}
.cen_hot .hot_tit{
	width:1160px;
	height:29px;
	border:1px solid #ebebeb;
	padding-top: 10px;
	padding-left:40px;
}
.hot_tit .h3{
	font-size: 18px;
	color:#464646;
	line-height:39px;
	font-weight: 100;
}
.cen_hot .hot_detail{
	height:417px;
	width:1200px;
	border:1px solid #ebebeb;
	border-top:0;
	padding-top: 23px;
}
.hot_detail .del_pho{
	height:350px;
	width:1200px;
}
.del_pho .pho_list{
	width:185px;
	height: 350px;
	background: #f0f2f1;
	margin-left: 45px;
	float: left;
}
.pho_list .pho_img{
	width:185px;
	height:250px;
}
.pho_list .pho_intro{
	width:169px;
	height: 46px;
	background: #f0f2f1;
	padding:2px 8px 8px 8px;
}
.pho_intro p{
	font-size: 12px;
	color:#797979;
	text-align: center;
	margin-top:10px;
}
.pho_intro .xian{
	font-size: 10px;
	color:#d90077; 
}
.pho_intro .yuan{
	font-size: 10px;
	color:#a7a7a7;
	text-decoration: line-through;
}
.pho_list .pho_buy{
	width:185px;
	height: 45px;
	background: #fff;
}
.pho_buy span{
	display: inline-block;
	width:80px;
	height:20px;
	border:1px solid #fe037f;
	text-align: center;
	font-size:12px; 
	color: #fe037f;
	margin-left: 50px;
	margin-top: 13px;
}
.hot_detail .del_page{
	height:33px;
	width:1200px;
	padding-top: 30px;
}
.del_page .cir{
	display: inline-block;
	width:10px;
	height:10px; 
	border-radius:50px;
	background: #dadada;
	float: left;
	margin-top:10px;
	margin-right: 5px;
}
.del_page .cir2{
	background: #fe037f;
	margin-left: 497px;
}
.del_page .huan{
	display: inline-block;
	width:66px;
	height:22px; 
	font-size: 12px;
	color: #666666;
	line-height: 22px;
	border:1px solid #dadada;
	text-align: center;
}
/*其他顾客的购买商品*/
.cen_hot .customer{
	width:1200px;
	height:418px;
	border:1px solid #ebebeb;
	border-top: 0;
}
.customer .cus_tit{
	width:1200px;
	height:40px;
	border-bottom:1px solid #ebebeb;	
}
.cus_tit .tit_l{
	font-size: 18px;
	color:#000;
	line-height: 40px;
	margin-left:20px;
}
.cus_tit img{
	margin:0 46px;
}
.cus_tit .tit_r{
	font-size: 14px;
	color:#bfbfbf;
	line-height: 40px;
}
.customer .cus_tel{
	width:1200px;
	height:378px; 
}
.cus_tel img{
	margin-left:490px;
	margin-top:50px; 
}
/*下拉滚动条显示*/
 /*商品总价*/
#scroll_bot{
	width:1200px;
	height:100px;
	border:1px solid #ebebeb;
	position: fixed;
	bottom:-0px;
	right:30px;
	box-shadow: 0px 0px 5px #aca9aa;
	display: none;
}
#scroll_bot .bot_zong{
	width:380px;
	height:90px;
	float: right;
	padding-top: 10px;
}
.bot_zong .zong_ji{
	font-size:12px; 
	color:#555555;
	text-align: center;
}
.bot_zong .zong_ji .cum{
	font-size:12px; 
	color:#d90075;
}
.bot_zong .zong_ji .cum_zhe{
	font-size: 12px;
	color:#555555;
	font-weight: 600;
	margin-left: 10px;
}
.bot_zong .zong_ji .dol_end{
	font-size:14px;
	color: #d60076
}
.bot_zong .bttn{
	display: inline-block;
	width:226px;
	height: 48px;
	border:0;
	font-size:20px;
	color:#fff;
	line-height:48px;
	text-align:center;
	background: #eb0067;
	margin-left: 100px;
	margin-top: 10px;
	font-weight: 600;
}
/*返回顶部*/
#goback{
	width:73px;
	height:48px;
	position: fixed;
	right: 0;
	bottom: 300px;
	display: none;
}