.tc_01 {
    width: 470px;
    height: 354px;
    float: left;
    overflow: hidden;
    border: 0
}

.tc_01 h2 {
    width: 470px;
    height: 52px;
    background: url(/img/icon10.png) repeat-x;
    position: relative;
    margin-bottom: 23px
}

.tc_01 h2 a.del {
    width: 13px;
    height: 13px;
    background: url(/img/del0.png) no-repeat;
    position: absolute;
    right: 13px;
    top: 11px
}

.tc_item {
    width: 450px;
    float: left;
    clear: both;
    color: #565656;
    height: 40px;
    line-height: 30px
}

.tc_item b {
    color: #545454;
    font-size: 18px
}

.tc_item2 {
    height: 55px
}

.tc_item label {
    width: 107px;
    display: inline-block;
    float: left;
    text-align: right
}

.tc_item input.i_text {
    width: 77px;
    height: 24px;
    line-height: 24px
}

.tc_item3 {
    padding-bottom: 20px
}

.tc_item4 {
    padding-top: 20px;
    height: 37px
}

.ui-widget {
    font-family: "宋体";
    font-size: 12px
}

.ui-widget-header {
    /* background: url("/img/icon10.png") repeat-x scroll 50% 50% #ec1865; */
    height: 23px;
    border: 0
}

.ui-dialog {
    overflow: hidden;
    position: absolute;
    padding: 0
}

.ui-widget-header .ui-icon {
    background: url("/img/del0.png") no-repeat scroll 0 0
}

.ui-widget-header .ui-state-hover {
    background: 0;
    border: 0
}

.ui-dialog .ui-dialog-titlebar-close {
    padding: 0
}

#ui-dialog-title-J_dialog {
    color: #000
}
